

body {

width: 100%;
height: 100%;
background: url(background2.jpg) no-repeat center center fixed;
background-color: rgba(44, 90, 110, 0.8);
background-position: top;
background-size: 100% 600px;
opacity: 1;
background-attachment: scroll;
margin: 0px;
color: rgb(44, 90, 110);


}

h2 {

    color: rgb(2, 38, 53);
}

h4 {

    color: rgb(2, 38, 53);
}

h6 {

    color: rgb(2, 38, 53);
}



.container {
    
    background-color: rgb(44, 90, 110);
    padding: 20px;
    border-radius: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    
}

.container-top {
    
    width: 100%;
    margin: 0px;
    

}

.navbar-container {
    width: 100%;
    
    
}

.navbar-receptacle {

    display: flex;
    
}

.web-icon {
    
    display: flex;
    
}

.header-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.sub-container-top {

    background-color: rgb(44, 90, 110);
    width: fit-content;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
    border-radius: 3px;
    opacity: 0.96;
   
}

.social {

    display: flex;
    justify-content: center;
}

.BlackLivesMatter {

    display: flex;
    justify-content: center;
}

.btn-dark:hover {

    animation: rubberBand;
    animation-duration: 0.8s;
}

hr {
    opacity: 1;
    border: solid 1px rgb(2, 38, 53);
    width: 100px;
    margin: auto;
}


.buffer {

    height: 11rem;
}

.form-box {
    
    
    display: flex;
    justify-content: center;
}

.box-item {

    background-color: rgb(2, 38, 53);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    color: rgb(144, 172, 184);

}
.row {
    
    margin: 5px;
    
}

.row-center {

    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(2, 38, 53);
    text-align: center;
    padding-top: 15px;
    color: rgb(144, 172, 184);
}

.card-img-top {

   border-radius: 50%;
   width: 180px;
   margin: auto;

}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(44, 90, 110);
    height: 70px;
    
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
  }
  
  li {
    
    float: left;
    height: 70px;
    color:rgb(1, 20, 28);
    align-items: center;
   
    
  }
  
  li a {
    align-items: center;
    display: block;
    display: flex;
    color: rgb(2, 38, 53);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 70px;
  }
  
  
  li a:hover {
    background-color:rgb(2, 38, 53);
    text-decoration: none;
    color: rgb(144, 172, 184);
  }

  .btn-primary {

    background-color: rgb(1, 20, 28);
    border: 0px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
 
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
 
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
 
  .mr-3 {
    margin: 4px;
    float: left;
    border-radius: 2%;
    width: 180px;
  }

  .introduction-2 {
      margin: 3px;
      display: flex;
      flex-direction: row-reverse;
  }
