body {
    
    background-color: aliceblue;
    margin: 0px;
    color: darkblue;
    font-family: sans-serif;

}




/* NAV */

nav {

    background-color: lightblue;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.sticky {

    position: fixed;
    top: 0px;
    width: 100%;

}


.main-nav {

    list-style: none;
    display: flex;
    margin: 0px;
    align-items: center;
    padding-left: 25px;
}

.pushed-right {

    margin-left: auto;
    padding: 0px;
    padding-right: 20px;
    
}


.pushed-right img {

    width: 65px;
    height: 65px;
}



li {

    margin: 0px 0px;
    padding: 18px;
}

a {
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;

}

a:active {

    color: white;
    

}

.nav-link > a:hover {

    color: darkblue;
    border-bottom: 3px solid darkblue;

}

.nav-link:hover {

    background-color: lightblue;
    
}

@media only screen and (max-width: 600px){

    .main-nav {
        padding-left: 10px;
    }

    a {

        font-size: 1em; 

    }

}



/* COVER */

.grid-wrapper-cover {

    display: inline-grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.cover-box {

}

.cover-box > .img-cover {

    width: 70%;
}

.box-adjust1 {

    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 30px;     
}

.box-adjust2 {

    padding-top: 90px;
}

.box-adjust3 {

    padding-top: 90px;

}


.box-adjust2 > .img-cover2 {

    width: 75%;    
}



.box-adjust3 > .img-cover3 {

    width: 62%;    
}


/* .cover {

display: flex;
justify-content: center;
align-items: center;
height: 50vh;

} */

.img-cover {

   width: 20rem;
   
}







/* HEAD COVER */


/* HEAD COVER SOCIAL ICONS START */

.cover-social > .fa {
    padding: 20px 15px;
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: darkblue;
  }
  
  .cover-social > .fa:hover {
      opacity: 0.7;
  }
  
 
.cover-social > .fa-cover {

    transition: all 0.3s;    

  }

  .cover-social > .fa-cover:hover {

    transform: scale(1.1);   

  }


/* HEAD COVER SOCIAL ICONS END */

.cover-container {

    background-color: lightblue;
    height:auto;
    margin-top: 60px;

}

.cover-content-wrapper {

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;

}



.cover-logo {
    display: flex;
    align-items: center;
}

.cover-logo > img {

    width: 100%;
}

.cover-main > .cover-social {

    display: flex;
    justify-content: left;

}

.cover-last-article {
    display: flex;
}

.cover-last-articles > .title {
    justify-self: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.title > img {

    width: 160px;
    width: 160px;

}

.cover-last-articles > .article {

    border-left: 1px solid #03a9f4;
    border-bottom: 1px solid #03a9f4;
    margin: 0px;
    padding: 10px;
    height: auto;

}

@media only screen and (max-width: 700px) {


    .cover-content-wrapper {

        grid-template-columns: 1fr;
        

    }

    .cover-logo > img {

        width: 70%;
        

    }

    .cover-logo {

        justify-content: center;

    }

    .cover-main > .cover-social {

        
        justify-content: center;

    }


}


/* CONTAINER */


.main-container {

    display: flex;
    justify-content: center;
    width: 100%;

}



.container {
    
    
    width: 94%;
    margin-top: 10px;
}


.main-box {


    background-color:lightblue;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);


}


.box {

    display: flex;
    margin: 25px 25px;
    background-color: skyblue;
    padding: 15px;
    border-radius: 3px;


}


/* PRESENTATION GRID */


.presentation-grid-wrapper {


    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;


}

.presentation-box {



}

.img-box {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;


}

.img-box > img {


    width: 60%;
    border-radius: 50%;
    border: solid 6px #03a9f4;
}


.text-box {


    padding: 30px 40px 30px 5px;
    

}

.text-box > p {

    line-height: 1.5em;
    font-size: 1.1em;
    font-family: 'Open Sans' , sans-serif;

}

@media only screen and (max-width: 700px){


.text-box {
    
    padding: 0px 20px;
    
}



.text-box > p {
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;

}

.img-box {

    
    padding: 0px;
    

}

.img-box > img {

    width: 35%;
}

.presentation-grid-wrapper {

    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));


}


}


/* PROJECT GRID */


.projects-grid-wrapper {


    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));


}

.project-box > img {

   width: 100%;


}

.project-box {
    
   border: solid 1px black;
   padding: 80px;
   background-color: #444;
   transition: all 0.5s;
}

.project-box:hover {

    transform: rotate(-7deg);

}

/* TOP FOOTER */


/* TOP FOOTER - SOCIAL MEDIA CSS START */

  /* SOCIAL MEDIA */


.social > .fa {
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .social > .fa:hover {
      opacity: 0.7;
  }
  
  .social > .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .social > .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .social > .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .social > .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .social > .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .social > .fa-instagram {
    background: #125688;
    color: white;
  }

  .social > .fa-github {

    background: darkslategrey;
    color: white;

  }

  .social {

    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

  }

  .BlackLivesMatter {
    
    
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .black-lives-matter-button {

    border-radius: 0%;
    height: 55px;
    margin: 20px 0px;
    background-color: #444;
    font-size: 1.2em;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightgrey;
    font-weight: bold;
    cursor: pointer;
}

  .black-lives-matter-button:hover {

    
    animation: rubberBand;
    animation-duration: 0.8s;
    cursor: pointer;
    background-color: darkslategrey;

  }
  

/* TOP FOOTER - SOCIAL MEDIA CSS END */






.top-footer-container {

    background-color: lightblue;
    margin: 20px 0px ;
    margin-top: 170px;
    height: auto;
    padding: 15px 0px;


}

.footer-personal-image-container {

    display: flex;
    justify-content: center;
    

}

.footer-personal-image {

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-top: -100px;
    margin-bottom: 30px;

}

.my-email {

    
    margin: 0px 0px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Big Shoulders Display';

}

.my-email > p {

    margin: 0px 0px;
}

.famous-citation {
    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin: 50px 0px;
    padding: 0px 150px;
    padding-bottom: 20px;
    text-align: center;
    
    



}

@media only screen and (max-width: 700px){

    .famous-citation {

        padding: 0px 50px;
        
    }

    .my-email {

        font-size: 2.5rem;
    }
    

}



/* TOP FOOTER END */





/* FOOTER */


/* footer {

   display: grid;
   justify-content: center;
   padding: 20px;

} */


.footer-useful-links {

    text-align: center;
    

}



.footer-useful-links > .title {

    color: steelblue;
    font-family: 'Open Sans';
    font-size: 2rem;

}

.footer-useful-links > .sub-title {

    color: steelblue;
    font-family: 'Open Sans';
    font-size: 1rem;

}

.footer-links-container {

    display: flex;
    justify-content: center;
    padding: 0 20px;

}

.footer-links-grid-wrapper {

    display: grid;
    gap: 100px;
    grid-template-columns: 1fr 1fr;
    


}



.footer-list {

    list-style: none;
    padding: 8px;

}

.footer-link {

    padding: 10px;

}

a {

    font-family: 'Open Sans';
}

.footer-list > a:hover {

    color: lightblue;

}

.copyright {
    text-align: center;
    border-top: 1px solid lightblue;

}




