body {
    
    background-color: lightcyan;
    margin: 0px;
    color: darkblue;
    font-family: sans-serif;

}




/* NAV */

nav {

    background-color: lightblue;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.sticky {

    position: fixed;
    top: 0px;
    width: 100%;

}


.main-nav {

    list-style: none;
    display: flex;
    margin: 0px;
    
    padding-left: 25px;
}

.pushed-right {

    margin-left: auto;
}

li {

    margin: 0px 0px;
    padding: 18px;
}

a {
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;

}

a:active {

    color: white;

}

.nav-link:hover {

    background-color: lightblue;

}

@media only screen and (max-width: 600px){

    .main-nav {
        padding-left: 10px;
    }

    a {

        font-size: 1em; 

    }

}



/* COVER */

.cover {

display: flex;
justify-content: center;
align-items: center;
height: 50vh;

}

.img-cover {

   width: 20rem;
   
   

}



/* CONTAINER */


.main-container {

    display: flex;
    justify-content: center;
    width: 100%;

}



.container {
    
    
    width: 90%;
    margin-top: -40px;
}


.main-box {


    background-color:lightblue;
    border-radius: 5px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);


}


.box {

    display: flex;
    margin: 35px 35px;
    background-color: skyblue;
    padding: 15px;
    border-radius: 3px;


}


/* PRESENTATION GRID */


.presentation-grid-wrapper {


    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;


}

.presentation-box {



}

.img-box {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;


}

.img-box > img {


    width: 60%;
    border-radius: 50%;
}


.text-box {


    padding: 30px 40px 30px 5px;
    

}

.text-box > p {

    font-size: 1.1em;
    font-family: sans-serif;

}

@media only screen and (max-width: 700px){


.text-box {

    padding: 0px 20px;
    
}



.text-box > p {
    text-align: center;
    font-size: 1em;

}

.img-box {

    
    padding: 0px;
    

}

.img-box > img {

    width: 35%;
}

.presentation-grid-wrapper {


    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));


}


}


/* PROJECT GRID */


.projects-grid-wrapper {


    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));


}

.project-box > img {

   width: 100%;


}

.project-box {
    
   border: solid 1px black;
   padding: 80px;
   background-color: #444;
   transition: all 0.5s;
}

.project-box:hover {

    transform: rotate(-7deg);

}


/* FOOTER */


footer {

   display: grid;
   justify-content: center;
   padding: 20px;

}



/* SOCIAL MEDIA */


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .social {

    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .BlackLivesMatter {
    
    
    grid-column: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .black-lives-matter-button {

    background-color: #444;
    font-size: 1.2em;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightgrey;
    font-weight: bold;
    
}

  .black-lives-matter-button:hover {

    animation: rubberBand;
    animation-duration: 0.8s;
    cursor: pointer;
    background-color: darkslategrey;

  }
